@font-face {
  font-family: rosmakita;
  src: url('/assets/fonts/rosmatika/Rosmatika.ttf');
}

h1, p {
  font-family: rosmakita;
}

.hero {
  background-image: url("../img/Landing-page_01.gif");
}

.hero2 {
  background-image: url("../img/Landing-page_02.gif");
}


form {
  font-family: rosmakita;
  font-weight: bold;
}