@font-face {
  font-family: rosmakita;
  src: url('/assets/fonts/rosmatika/Rosmatika.ttf');
}

h1,
p {
  font-family: rosmakita;
}

@media only screen and (min-width: 1020px) {
  main {
    background-image: url("../img/fundo.jpg");
    background-size: cover;
  }
}

@media only screen and (max-width: 1019px) {
  main {
    background-image: url("../img/fundo.jpg");
    background-size: contain;
  }
}

@media only screen and (max-width: 767px) {
  .btn-mvp {
    position: absolute;
    top: 200px;
    height: 150px;
    color: transparent;
    border: 1px solid white;
    background-color: transparent;
  }
  .btn-mvp2 {
    position: absolute;
    top: 2000px;
    height: 200px;
    color: transparent;
    border: 1px solid white;
    background-color: transparent;
  }
  .btn-mvp3 {
    position: absolute;
    top: 2600px;
    height: 150px;
    color: transparent;
    border: 1px solid white;
    background-color: transparent;
  }
}

@media only screen and (min-width: 768px) {
  .btn-mvp {
    position: absolute;
    top: 350px;
    height: 250px;
    color: transparent;
    border: 1px solid white;
    background-color: transparent;
  }
  .btn-mvp2 {
    position: absolute;
    top: 1800px;
    height: 450px;
    color: transparent;
    border: 1px solid white;
    background-color: transparent;
  }
  .btn-mvp3 {
    position: absolute;
    top: 3100px;
    height: 450px;
    color: transparent;
    border: 1px solid white;
    background-color: transparent;
  }
}

@media only screen and (min-width: 1100px) {
  .btn-mvp {
    position: absolute;
    top: 500px;
    height: 450px;
    color: transparent;
    border: 1px solid white;
    background-color: transparent;
  }
  .btn-mvp2 {
    position: absolute;
    top: 3500px;
    height: 450px;
    color: transparent;
    border: 1px solid white;
    background-color: transparent;
  }
  .btn-mvp3 {
    position: absolute;
    top: 3500px;
    height: 450px;
    color: transparent;
    border: 1px solid white;
    background-color: transparent;
  }
  .btn-mvp3 {
    position: absolute;
    top: 6000px;
    height: 450px;
    color: transparent;
    border: 1px solid white;
    background-color: transparent;
  }
}



form {
  font-family: rosmakita;
  font-weight: bold;
}